<p>add works!</p>
<!--div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">modal title</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
            </div>
            <div class="modal-body">
                ....
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                
            </div>
        </div>
    </div>
</div-->
<form #loginForm="ngForm" (ngSubmit)="updateData(loginForm.value)">
    <div class="main">
      <div class="input-fields">
        <input name="title" ngModel placeholder="Title" id="title" type="text" class="input-field" />
      </div>
      <div class="input-fields">
        <input name="content" ngModel placeholder="Content" id="content" type="text" class="input-field" />
      </div>
      <button>Update Data </button>
    </div>
  </form>